<nav>
  <h3>Directory</h3>
  <div class="directory-tree" id="directory-tree">
    <ul>
      <%- include('folderItem', {folder: directoryTree[0]}) %>
    </ul>
  </div>
  <script>
    (function () {
      const initSidebar = () => {
        const container = document.getElementById('directory-tree');
        if (!container) return;

        container.addEventListener('click', (e) => {
          
          const icon = e.target.closest('.toggle-icon');
          console.log('Icon value:', icon)

          // if (e.target.classList.contains('toggle-icon')) {
          if (icon) {
            const parentLi = e.target.closest('.folder-node');
            const nestedList = parentLi.querySelector('.nested-list');
            if (nestedList) {
              nestedList.classList.toggle('collapsed');
              e.target.classList.toggle('open');
            }
          }
        });
      };

      if (document.readyState === 'loading') {
        document.addEventListener('DOMContentLoaded', initSidebar);
      } else {
        initSidebar();
      }
    })();
  </script>
</nav>