@font-face {
  font-family: 'robotoregular';
  src: url('/fonts/roboto-variablefont_wdthwght-webfont.woff2') format('woff2'),
    url('/fonts/roboto-variablefont_wdthwght-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'lexendregular';
  src: url('/fonts/lexend-variablefont_wght-webfont.woff2') format('woff2'),
    url('/fonts/lexend-variablefont_wght-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

* {
  box-sizing: border-box;
  font-family: 'robotoregular';
  
}

:root {
  font-size: 10px;
  --color-bg-frame: #f0f0ff;
  --color-bg-footer: #0000ff;
  --color-text-frame: black;
  --color-text-footer: white;
}

body {
  margin: 0;
  background-color: var(--color-bg-frame);
  min-height: 100vh;
  font-size: 1.6rem;
}

.auth-gate {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr min-content;
  justify-items: center;
}

.app-shell {
  display: grid;
  grid-template-areas:
      'header header '
      'nav article'
      'footer footer';
  grid-template-columns: clamp(150px, 20%, 300px) 1fr;
  grid-template-rows: min-content 1fr min-content;
}

.app-shell header {
  grid-area: header;
  display: grid;
  grid-template-columns: clamp(150px, 20%, 300px) 1fr min-content;
  grid-template-rows: fit-content;
  align-content: center;
}

.app-shell .breadcrumbs {
  justify-self: left;
  align-self: center;
  font-size: 1.8rem;
}

.app-shell .account {
  padding: 10px;
}

.app-shell .account * {
  margin: 0;
}

.app-shell nav {
  grid-area: nav;
  padding: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-shell nav h3 {
  align-self:flex-start;
  margin-bottom: 0px;
}

.app-shell nav button {
  position: relative;
  border: 5px solid var(--color-bg-footer);
  background-color: var(--color-bg-frame);
  color: var(--color-bg-footer);
  font-weight: bold;
  font-size: 2.4rem;
  border-radius: 15px;
  
}

.app-shell nav ul {
  list-style: none;
  min-width: clamp(130px, 90%, 280px);
  padding-left: 1px;
}

.app-shell nav .nested-list {
  padding-left: 10px;
}

.app-shell nav .folder-header img {
  max-width: 15px;
  height: auto;
  aspect-ratio: 1 / 1;
}

.app-shell article {
  grid-area: article;
  position: relative;
}



.app-shell footer {
  grid-area: footer;
}

header {
  color: var(--color-text-frame);
  background-color: var(--color-bg-frame);
  padding: 10px;
  text-align: center;
}

footer {
  color: var(--color-text-footer);
  background-color: var(--color-bg-footer);
  padding: 10px;
  min-width: 100%;
  text-align: center;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

nav .nested-list.collapsed {
  display: none;
}

nav .toggle-icon {
  cursor: pointer;
  transition: transform 0.2s;
  display: inline-block;
}

nav .toggle-icon.open {
  transform: rotate(90deg);
}

.common-form {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-auto-rows: min-content;
  gap: 10px;
  align-items: center;
  max-width: 500px;
  margin: 10px auto 0 auto;
  padding: 10px;
}

.common-form label {
  text-align: right;
  padding: 3px;
}

.common-form button {
  grid-column: 1 / span 2;
  justify-self: center;
}

.common-form span.error {
  grid-column: 1 / span 2;
  text-align: right;
  color: red;
  font-weight: bold;
}

.common-form .formp {
  grid-column: 1 / span 2;
}

.folder-buttons {
  display: flex;
  justify-items: start;
  gap: 10px;
  align-self: start;
  margin: 3px;
}

.folder-buttons button {
  border: 2px solid var(--color-bg-footer);
  background-color: var(--color-bg-frame);
  color: var(--color-bg-footer);
  padding: 5px;
  border-radius: 10px;
}

.folder-buttons :active {
  color: var(--color-bg-frame);
  background-color: var(--color-bg-footer);
}

.folder-contents .no-contents {
  font-size: 2.4rem;
  color: #aaaaaa;
}

.folder-item img {
  max-width: 20px;
  height: auto;
  aspect-ratio: 1 / 1;
}

dialog {
  border: 2px solid var(--color-bg-footer);
  border-radius: 25px;
  background-color: var(--color-bg-frame);
}

dialog button {
  border: 2px solid var(--color-bg-footer);
  background-color: var(--color-bg-frame);
  color: var(--color-bg-footer);
  border-radius: 10px;
}

.alert-danger {
  color: red;
  font-weight: bold;
}